* {
  cursor: none!important;
}

::selection {
  /* Your CSS styles to apply when 
    user selects content in the HTML */
  background-color:#000000;
  color: white;
}

html {
  cursor: none!important;
}

body {
  margin: 0;
  font-family: serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 35px;
  padding-top: 35px;
}

@media (max-width: 900px) {
  body{
    padding-left: 20px;
    padding-top: 20px;
  }
}

@font-face {
  font-family: 'Heebo';
  font-style: none;
  font-weight: 400;
  font-display: swap;
  src: local('Heebo-Regular'), url('./assets/font/Heebo-Regular.ttf');
}
@font-face {
  font-family: 'Heebo';
  font-style: none;
  font-weight: 500;
  font-display: swap;
  src: local('Heebo-Medium'), url('./assets/font/Heebo-Medium.ttf');
}
@font-face {
  font-family: 'Heebo';
  font-style: none;
  font-weight: 700;
  font-display: swap;
  src: local('Heebo-ExtraBold'), url('./assets/font/Heebo-ExtraBold.ttf');
}

@font-face {
  font-family: 'Heebo';
  font-style: none;
  font-weight: 900;
  font-display: swap;
  src: local('Heebo-Black'), url('./assets/font/Heebo-Black.ttf');
}